# Prerequisites
AStarSolver/*.d

# Compiled Object files
AStarSolver/*.slo
AStarSolver/*.lo
AStarSolver/*.o
AStarSolver/*.obj

# Precompiled Headers
AStarSolver/*.gch
AStarSolver/*.pch

# Compiled Dynamic libraries
AStarSolver/*.so
AStarSolver/*.dylib
AStarSolver/*.dll

# Fortran module files
AStarSolver/*.mod
AStarSolver/*.smod

# Compiled Static libraries
AStarSolver/*.lai
AStarSolver/*.la
AStarSolver/*.a
AStarSolver/*.lib

# Executables
AStarSolver/*.exe
AStarSolver/*.out
AStarSolver/*.app

# Solution
AStarSolver/.idea/
AStarSolver/.vscode/
AStarSolver/.vs/
AStarSolver/*.user
AStarSolver/x64/